<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Gumtree Platform Developer Target" sequenceNumber="70">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.2.1.M20120914-1800"/>
<unit id="org.eclipse.ecf.core.feature.group" version="3.5.6.v20120610-1946"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.1.v20120917-0436"/>
<unit id="org.eclipse.emf.compare.sdk.feature.group" version="1.3.2.v20120918-1125"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.0.201208201742"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.6.0.v20120517-1809-67R09E9QuFflXswwIO_z0E3d4k_X"/>
<unit id="org.eclipse.rse.feature.group" version="3.4.1.201209191030-7L7IFBY83omx__z0RFpKdWB-r5MS"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.4.1.v201208170345-7H7GFeFDxumUpsw5rgjWnKDrsz0p4ymwjQz00T2S"/>
<unit id="org.eclipse.dltk.tcl.feature.group" version="4.0.0.201206120848"/>
<unit id="org.eclipse.egit.feature.group" version="2.1.0.201209190230-r"/>
<unit id="org.eclipse.mylyn.sdk_feature.feature.group" version="3.8.2.v20120916-1200"/>
<unit id="org.eclipse.mylyn.github.feature.feature.group" version="2.1.0.201209190230-r"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.xwt.forms.source" version="0.9.1.v20101021"/>
<unit id="org.eclipse.e4.xwt.xml.source" version="0.9.0.v20100617-2100"/>
<unit id="com.isencia.passerelle.actor.help" version="7.0.0"/>
<unit id="akka.actor" version="2.0.3.201210121735"/>
<unit id="akka.actor.source" version="2.0.3.201210121735"/>
<unit id="akka.remote" version="2.0.3.201210121737"/>
<unit id="akka.remote.source" version="2.0.3.201210121737"/>
<unit id="akka.slf4j" version="2.0.3.201210121739"/>
<unit id="akka.slf4j.source" version="2.0.3.201210121739"/>
<unit id="com.springsource.org.antlr.runtime" version="3.1.3"/>
<unit id="com.springsource.org.aopalliance" version="1.0.0"/>
<unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
<unit id="org.apache.commons.beanutils.source" version="1.8.0.v201205091237"/>
<unit id="com.springsource.org.apache.commons.collections" version="3.2.1"/>
<unit id="org.apache.commons.collections.source" version="3.2.0.v201005080500"/>
<unit id="org.apache.commons.collections" version="3.2.0.v201005080500"/>
<unit id="com.springsource.org.apache.commons.digester" version="1.8.1"/>
<unit id="org.apache.commons.math" version="2.1.0.v201105210652"/>
<unit id="org.apache.commons.math.source" version="2.1.0.v201105210652"/>
<unit id="org.apache.commons.net" version="2.2.0.v201101241833"/>
<unit id="org.apache.commons.net.source" version="2.2.0.v201101241833"/>
<unit id="javax.activation" version="1.1.0.v201108011116"/>
<unit id="javax.activation.source" version="1.1.0.v201108011116"/>
<unit id="org.apache.commons.lang.source" version="2.4.0.v201005080502"/>
<unit id="org.apache.commons.lang" version="2.4.0.v201005080502"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
<unit id="javax.inject" version="1.0.0.v20091030"/>
<unit id="javax.inject.source" version="1.0.0.v20091030"/>
<unit id="bsh" version="2.0.0.v200806061130"/>
<unit id="org.springframework.context.source" version="3.0.5.RELEASE"/>
<unit id="org.springframework.core.source" version="3.0.5.RELEASE"/>
<unit id="org.springframework.context.support.source" version="3.0.5.RELEASE"/>
<unit id="org.springframework.beans.source" version="3.0.5.RELEASE"/>
<unit id="com.springsource.net.sf.cglib" version="2.2.0"/>
<unit id="javax.annotation" version="1.0.0.v20101115-0725"/>
<unit id="javax.annotation.source" version="1.0.0.v20101115-0725"/>
<unit id="org.eclipse.emf.commonj.sdo" version="2.4.0.v200902171115"/>
<unit id="com.db4o.java5" version="8.0.184.15484"/>
<unit id="diva" version="7.0.1"/>
<unit id="com.springsource.org.dom4j" version="1.6.1"/>
<unit id="com.springsource.org.easymock" version="2.5.2"/>
<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="0.12.0.v20120529-2033-28Q1EVVFNTFtSK8WOZd51"/>
<unit id="com.teaminabox.eclipse.wiki" version="2.8.0.201111071732"/>
<unit id="org.eclipse.emf.ecore.sdo" version="2.4.0.v200902171115"/>
<unit id="org.eclipse.emf.ecore.sdo.doc" version="2.4.0.v200902171115"/>
<unit id="org.eclipse.emf.ecore.sdo.edit" version="2.4.0.v200902171115"/>
<unit id="org.eclipse.emf.ecore.sdo.editor" version="2.4.0.v200902171115"/>
<unit id="org.hamcrest.core" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.integration.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.generator" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.generator.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.integration" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.library" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.library.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="ncsa.hdf" version="2.7.0.201210121609"/>
<unit id="ncsa.hdf.source" version="2.7.0.201210121609"/>
<unit id="ncsa.hdf.win32.x86_64" version="2.7.0.201210121609"/>
<unit id="com.sun.j3d" version="1.5.2.201210121800"/>
<unit id="com.sun.j3d.source" version="1.5.2.201210121800"/>
<unit id="com.sun.j3d.win32.x86_64" version="1.5.2.201210121800"/>
<unit id="javax.management" version="1.2.0.v20100427-1100"/>
<unit id="com.sun.opengl" version="1.1.1.201210121800"/>
<unit id="com.springsource.javax.xml.stream" version="1.0.1"/>
<unit id="javax.mail" version="1.4.0.v201005080615"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="com.springsource.org.jdom" version="1.1.0"/>
<unit id="javax.jms" version="1.1.0.v201205091237"/>
<unit id="javax.jms.source" version="1.1.0.v201205091237"/>
<unit id="org.junit" version="4.10.0.v4_10_0_v20120426-0900"/>
<unit id="org.junit.source" version="4.10.0.v4_10_0_v20120426-0900"/>
<unit id="org.junit4" version="4.8.1.v20120523-1257"/>
<unit id="ch.lambdaj" version="2.4.0.201210121722"/>
<unit id="ch.lambdaj.source" version="2.4.0.201210121722"/>
<unit id="ch.qos.logback.classic" version="1.0.0.v20111214-2030"/>
<unit id="ch.qos.logback.classic.source" version="1.0.0.v20111214-2030"/>
<unit id="ch.qos.logback.core" version="1.0.0.v20111214-2030"/>
<unit id="ch.qos.logback.core.source" version="1.0.0.v20111214-2030"/>
<unit id="ch.qos.logback.slf4j" version="1.0.0.v20120123-1500"/>
<unit id="ch.qos.logback.slf4j.source" version="1.0.0.v20120123-1500"/>
<unit id="mail" version="1.4.0"/>
<unit id="com.microstar" version="1.2.0"/>
<unit id="net.miginfocom.layout.source" version="3.7.1.v200911230030"/>
<unit id="net.miginfocom.layout" version="3.7.1.v200911230030"/>
<unit id="net.miginfocom.layout.swing" version="3.7.1.v200911230030"/>
<unit id="net.miginfocom.layout.swing.source" version="3.7.1.v200911230030"/>
<unit id="net.miginfocom.layout.swt.source" version="3.7.1.v200911230030"/>
<unit id="net.miginfocom.layout.swt" version="3.7.1.v200911230030"/>
<unit id="org.mockito" version="1.9.5"/>
<unit id="org.mockito.source" version="1.9.5"/>
<unit id="com.isencia.passerelle.workbench.model" version="7.0.0"/>
<unit id="org.jboss.netty" version="3.5.7.201210121732"/>
<unit id="org.jboss.netty.source" version="3.5.7.201210121732"/>
<unit id="org.objenesis" version="1.2.0.201210121636"/>
<unit id="org.objenesis.source" version="1.2.0.201210121636"/>
<unit id="org.vaadin.osgi" version="1.0.1"/>
<unit id="org.vaadin.osgi.staticres" version="1.0.1"/>
<unit id="com.isencia.passerelle.actor.conf" version="7.0.0"/>
<unit id="com.isencia.passerelle.actor" version="7.0.0"/>
<unit id="com.isencia.passerelle.commons" version="7.0.0"/>
<unit id="com.isencia.passerelle.engine" version="7.0.1"/>
<unit id="com.isencia.passerelle.commons.ume" version="7.0.0"/>
<unit id="com.isencia.passerelle.workbench" version="7.0.1"/>
<unit id="com.isencia.passerelle.workbench.logging.production" version="7.0.0"/>
<unit id="com.google.protobuf" version="2.4.0.v201105131100"/>
<unit id="com.google.protobuf.source" version="2.4.0.v201105131100"/>
<unit id="ptolemy.core" version="7.0.1.1"/>
<unit id="ptolemy.domains.and.actors" version="7.0.1"/>
<unit id="ptolemy.gui" version="7.0.1.1"/>
<unit id="org.python.pydev.feature.feature.group" version="2.6.0.2012062818"/>
<unit id="com.thoughtworks.qdox" version="1.6.3.v20081201-1400"/>
<unit id="com.thoughtworks.qdox.source" version="1.6.3.v20081201-1400"/>
<unit id="org.quartz" version="1.8.3.v20110329-1420"/>
<unit id="org.quartz.source" version="1.8.3.v20110329-1420"/>
<unit id="com.richclientgui.rcptoolbox" version="1.0.5"/>
<unit id="org.restlet" version="2.0.11.0"/>
<unit id="org.restlet.source" version="2.0.11.0"/>
<unit id="org.restlet.ext.servlet" version="2.0.11.0"/>
<unit id="org.restlet.ext.servlet.source" version="2.0.11.0"/>
<unit id="org.restlet.ext.slf4j" version="2.0.11.0"/>
<unit id="org.restlet.ext.slf4j.source" version="2.0.11.0"/>
<unit id="com.springsource.com.sun.syndication" version="1.0.0"/>
<unit id="scala.library" version="2.9.2.201210121525"/>
<unit id="scala.library.source" version="2.9.2.201210121525"/>
<unit id="org.slf4j.api" version="1.6.4.v20120130-2120"/>
<unit id="org.slf4j.ext" version="1.6.4.v20120130-2120"/>
<unit id="org.slf4j.ext.source" version="1.6.4.v20120130-2120"/>
<unit id="org.slf4j.api.source" version="1.6.4.v20120130-2120"/>
<unit id="org.slf4j.jcl" version="1.6.4.v20120130-2120"/>
<unit id="org.slf4j.jcl.source" version="1.6.4.v20120130-2120"/>
<unit id="org.slf4j.log4j" version="1.6.4.v20120130-2120"/>
<unit id="org.slf4j.log4j.source" version="1.6.4.v20120130-2120"/>
<unit id="org.springframework.aop" version="3.0.5.RELEASE"/>
<unit id="org.springframework.asm" version="3.0.5.RELEASE"/>
<unit id="org.springframework.beans" version="3.0.5.RELEASE"/>
<unit id="org.springframework.context" version="3.0.5.RELEASE"/>
<unit id="org.springframework.context.support" version="3.0.5.RELEASE"/>
<unit id="org.springframework.core" version="3.0.5.RELEASE"/>
<unit id="org.springframework.expression" version="3.0.5.RELEASE"/>
<unit id="org.springframework.osgi.extensions.annotations" version="1.2.1"/>
<unit id="org.springframework.osgi.core" version="1.2.1"/>
<unit id="org.springframework.osgi.extender" version="1.2.1"/>
<unit id="org.springframework.osgi.io" version="1.2.1"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.pushingpixels.trident" version="1.2.0.v20110609-1700"/>
<unit id="org.pushingpixels.trident.source" version="1.2.0.v20110609-1700"/>
<unit id="twitter4j" version="2.1.0"/>
<unit id="com.typesafe.config" version="0.5.2.201210121729"/>
<unit id="com.typesafe.config.source" version="0.5.2.201210121729"/>
<unit id="com.isencia.passerelle.workbench.util" version="7.0.0"/>
<unit id="com.isencia.passerelle.workbench.model.editor.ui" version="7.0.1"/>
<unit id="com.isencia.passerelle.workbench.model.ui" version="7.0.0"/>
<unit id="com.vaadin" version="6.7.8"/>
<unit id="org.xmlpull" version="1.1.3.4_v201201052148"/>
<unit id="com.springsource.org.xmlpull" version="1.1.4.c"/>
<unit id="org.eclipse.e4.xwt" version="0.9.1.v20110603"/>
<unit id="org.eclipse.e4.xwt.source" version="0.9.1.v20110603"/>
<unit id="org.eclipse.e4.xwt.forms" version="0.9.1.v20101021"/>
<unit id="org.eclipse.e4.xwt.pde" version="0.9.1.v20110603"/>
<unit id="org.eclipse.e4.xwt.pde.source" version="0.9.1.v20110603"/>
<unit id="org.eclipse.e4.xwt.xml" version="0.9.0.v20100617-2100"/>
<repository location="http://dist.codehaus.org/gumtree/sites/bundles/1.8.x"/>
</location>
</locations>
</target>
