<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Gumtree Platform Developer Target" sequenceNumber="50">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.2.0.I20120608-1400"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.2"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ecf.core.feature.group" version="3.5.6.v20120610-1946"/>
<unit id="org.eclipse.rse.feature.group" version="3.4.0.201205300905-7L7IFBV83omxZWwIDyHWipb2Sz-f"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.0.v20120608-0554"/>
<unit id="org.eclipse.emf.compare.sdk.feature.group" version="1.3.1.v20120605-0748"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.8.0.201206112118"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.6.0.v20120517-1809-67R09E9QuFflXswwIO_z0E3d4k_X"/>
<unit id="org.eclipse.dltk.tcl.feature.group" version="4.0.0.201206120848"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.4.0.v201111021744-7H7GFeBDxumUpsl5liePhK3loz-m62J4rSz011R1"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.gumtree.lib.bundles.feature.feature.group" version="1.8.0.201207121243"/>
<unit id="org.gumtree.lib.bundles.feature.source.feature.group" version="1.8.0.201207121243"/>
<repository location="http://dist.codehaus.org/gumtree/sites/bundles/1.8.0.201207121243/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.python.pydev.feature.feature.group" version="2.6.0.2012062818"/>
<repository location="http://pydev.org/updates"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site"/>
</location>
</locations>
</target>
