<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Gumtree Platform Developer Target" sequenceNumber="58">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.2.1.M20120914-1800"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.2"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ecf.core.feature.group" version="3.5.6.v20120610-1946"/>
<unit id="org.eclipse.rse.feature.group" version="3.4.1.201209191030-7L7IFBY83omx__z0RFpKdWB-r5MS"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.1.v20120917-0436"/>
<unit id="org.eclipse.emf.compare.sdk.feature.group" version="1.3.2.v20120918-1125"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.0.201208201742"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.6.0.v20120517-1809-67R09E9QuFflXswwIO_z0E3d4k_X"/>
<unit id="org.eclipse.dltk.tcl.feature.group" version="4.0.0.201206120848"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.4.1.v201208170345-7H7GFeFDxumUpsw5rgjWnKDrsz0p4ymwjQz00T2S"/>
<unit id="org.eclipse.egit.feature.group" version="2.1.0.201209190230-r"/>
<unit id="org.eclipse.mylyn.sdk_feature.feature.group" version="3.8.2.v20120916-1200"/>
<unit id="org.eclipse.mylyn.github.feature.feature.group" version="2.1.0.201209190230-r"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.gumtree.lib.bundles.feature.feature.group" version="1.8.0.201210031521"/>
<unit id="org.gumtree.lib.bundles.feature.source.feature.group" version="1.8.0.201210031521"/>
<repository location="http://dist.codehaus.org/gumtree/sites/bundles/1.8.x"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.python.pydev.feature.feature.group" version="2.6.0.2012062818"/>
<repository location="http://pydev.org/updates"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="0.12.0.v20120529-2033-28Q1EVVFNTFtSK8WOZd51"/>
<repository location="http://download.eclipse.org/e4/updates/0.12"/>
</location>
</locations>
</target>
