<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/platypus.html"
            base-name="/WebContent/platypus.html">
      </resource>
      <resource
            alias="/status/platypus.html"
            base-name="/WebContent/platypus.html">
      </resource>
      <resource
            alias="/status"
            base-name="/WebContent/platypus.html">
      </resource>
      <resource
            alias="/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/status/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
   </extension>
   <extension
         id="platypusHttpcontext"
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="platypusResource">
         <resource-mapping
               path="/status/resource">
         </resource-mapping>
      </httpcontext>
   </extension>
   <extension
         id="platypusRestlet"
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/status/resource"
            class="org.restlet.ext.servlet.ServerServlet"
            httpcontextId="platypusResource">
         <init-param
               name="org.restlet.application"
               value="au.gov.ansto.bragg.platypus.webserver.PlatypusScriptRestletApplication">
         </init-param>
      </servlet>
   </extension>
</plugin>
