<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/platypus.html"
            base-name="/WebContent/platypus.html">
      </resource>
      <resource
            alias="/status/platypus.html"
            base-name="/WebContent/platypus.html">
      </resource>
      <resource
            alias="/status"
            base-name="/WebContent/platypus.html">
      </resource>
      <resource
            alias="/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/status/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
   </extension>

</plugin>
