<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.gumtree.ui.actionShortcuts">
      <actionShortcut
            category="org.gumtree.gumnix.sics.ui.shortcutCategory"
            class="au.gov.ansto.bragg.kowari.ui.OpenHMBrowserAction"
            icon16="icons/document.gif"
            id="au.gov.ansto.bragg.kowari.ui.openHMSiteActionShortcut"
            label="Open Histogram Site">
      </actionShortcut>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="au.gov.ansto.bragg.kowari.ui.internal.TCLRunnerPerspective"
            icon="icons/exp_per.gif"
            id="au.gov.ansto.bragg.kowari.ui.internal.TCLRunnerPerspective"
            name="Kowari Experiment"/>
      <!--
      <perspective
            class="au.gov.ansto.bragg.kowari.ui.internal.TCLRunnerPerspectiveOld"
            icon="icons/exp_per.gif"
            id="au.gov.ansto.bragg.kowari.ui.internal.TCLRunnerPerspectiveOld"
            name="Kowari Experiment Old"/>
      -->
	  <perspective
            class="au.gov.ansto.bragg.kowari.ui.internal.KowariAnalysisPerspective"
            icon="icons/project_view.gif"
            id="au.gov.ansto.bragg.kowari.ui.internal.KowariAnalysisPerspective"
            name="Kowari Data Analysis"/>
   </extension>
   <extension
         point="org.gumtree.ui.launchers">
      <launcher
            category="au.gov.ansto.bragg.experiment"
            class="au.gov.ansto.bragg.kowari.ui.KowariWorkbenchLauncher"
            icon32="icons/MultiMonitors32.png"
            icon64="icons/MultiMonitors.png"
            id="au.gov.ansto.bragg.kowari.ui.KowariWorkbenchLauncher"
            label="Kowari Experiment"
            quickLauncher="true">
         <description>
            Start 2 monitor setup in the following order:
			1. Experiment Window
         </description>
      </launcher>
      <launcher
            category="au.gov.ansto.bragg.experiment"
            class="au.gov.ansto.bragg.kowari.ui.KowariWorkbenchLauncherOld"
            icon32="icons/MultiMonitors32.png"
            icon64="icons/MultiMonitors.png"
            id="au.gov.ansto.bragg.kowari.ui.KowariWorkbenchLauncherOld"
            label="Kowari Experiment Old"
            quickLauncher="false">
         <description>
			Launch Kowari Experiment Window
         </description>
      </launcher>
      <launcher
            category="au.gov.ansto.bragg.analysis"
            class="au.gov.ansto.bragg.kowari.ui.KowariAnalysisLauncher"
            icon16="icons/analysis_16x16.png"
            icon32="icons/analysis_32x32.png"
            icon64="icons/analysis_64x64.png"
            id="au.gov.ansto.bragg.kowari.ui.KowariAnalysisLauncher"
            label="Analysis Window"
            quickLauncher="true">
      </launcher>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="au.gov.ansto.bragg.kowari.ui.internal.KowariWorkbenchSetup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
      		name="Kowar" 
            id="au.gov.ansto.bragg.kowari.ui">
      </category>
      <view
            allowMultiple="false"
            category="au.gov.ansto.bragg.kowari.ui"
            class="au.gov.ansto.bragg.kowari.ui.views.ExportAllView"
            icon="icons/exp_product.gif"
            id="au.gov.ansto.bragg.kowari.ui.views.ExportAllView"
            name="export all">
      </view>
      <view
            allowMultiple="false"
            category="au.gov.ansto.bragg.kowari.ui"
            class="au.gov.ansto.bragg.kowari.ui.views.KowariDataSourceView"
            icon="icons/data_source_view.gif"
            id="au.gov.ansto.bragg.kowari.ui.views.KowariDataSourceView"
            name="Files">
      </view>
      <view
            allowMultiple="false"
            category="au.gov.ansto.bragg.kowari.ui"
            class="au.gov.ansto.bragg.kowari.ui.views.KowariControlView"
            icon="icons/tree_mode.gif"
            id="au.gov.ansto.bragg.kowari.ui.views.KowariControlView"
            name="SIC Server[User]">
      </view>
      <view
            allowMultiple="false"
            category="au.gov.ansto.bragg.kowari.ui"
            class="au.gov.ansto.bragg.kowari.ui.views.AnalysisControlView"
            icon="icons/operation_parameters_view.gif"
            id="au.gov.ansto.bragg.kowari.ui.views.AnalysisControlView"
            name="Analysis Control">
      </view>
      <view
            allowMultiple="false"
            category="au.gov.ansto.bragg.kowari.ui"
            class="au.gov.ansto.bragg.kowari.ui.views.KowariBatchEditingView"
            icon="icons/workflow.gif"
            id="au.gov.ansto.bragg.kowari.ui.views.KowariBatchEditingView"
            name="Batch Editor - Old">
      </view>
      <view
            allowMultiple="false"
            category="au.gov.ansto.bragg.kowari.ui"
            class="au.gov.ansto.bragg.kowari.ui.views.TclEditorView"
            icon="icons/workflow.gif"
            id="au.gov.ansto.bragg.kowari.ui.views.TclEditorView"
            name="① Batch Editor">
      </view>
   </extension>
   <extension
         point="org.gumtree.workflow.ui.tasks">
      <task
            class="au.gov.ansto.bragg.nbi.ui.tasks.ScanNDTask"
            colour="BLUE"
            icon="icons/tasks/twoDScan_16x16.gif"
            icon32="icons/tasks/twoDScan_32x32.gif"
            label="Multi-dimensional Scan"
            provider="Bragg Institute"
            tags="tcl">
            <description>
            Scan on one or more drivable devices. This will create a maxtrix of scan positions. 
            Use the '+,-' button to add or remove dimensions. You can also control how 
            many files will be created for the scan by selecting 'multiple_files' in 
            different dimensions. For more information, please read Gumtree manual.
         	</description>
      </task>
      <task
            class="au.gov.ansto.bragg.nbi.ui.tasks.SimpleTableScanTask"
            colour="DARK_GREEN"
            icon="icons/tasks/table_row_16x16.png"
            icon32="icons/tasks/table_row_32x32.png"
            label="Simple Table Scan"
            provider="Bragg Institute"
            tags="tcl">
            <description>
            A scan loaded from a ASCII file with a table of sample locations. The columns of
            the table are: sx, sy, sz, som, and scan time.
         	</description>
      </task>
      <task
            class="au.gov.ansto.bragg.nbi.ui.tasks.AdvancedScanTask"
            colour="DARK_BLUE"
            icon="icons/tasks/aMultiScan_16x16.gif"
            icon32="icons/tasks/aMultiScan_32x32.gif"
            label="Advanced Multi-dimensional Scan"
            provider="Bragg Institute"
            tags="tcl">
            <description>
            A more complex multi-dimensional scan. In each dimension, this allow you to
            drive more than one devices at the same time, hence create a diagonal trace
            of scan positions. You can also control how many files will be created for 
            the scan by selecting 'multiple_files' in different dimensions. 
            For more information, please read Gumtree manual.
         	</description>
      </task>
      <task
            class="au.gov.ansto.bragg.nbi.ui.tasks.HmmscanTask"
            colour="DARK_CYAN"
            icon="icons/tasks/arbitraryScan_16x16.gif"
            icon32="icons/tasks/arbitraryScan_32x32.gif"
            label="Arbitrary Scan"
            provider="Bragg Institute"
            tags="tcl">
            <description>
            A scan for you to move arbitrary devices at scan positions. The scan result 
            will be saved in a single file. For more information, please read Gumtree manual.
         	</description>
      </task>
      <task
            class="au.gov.ansto.bragg.nbi.ui.tasks.SicsBlockTask"
            colour="DARK_GRAY"
            icon="icons/tasks/tcl16x16.png"
            icon32="icons/tasks/tcl32x32.png"
            label="SICS Command"
            provider="Bragg Institute"
            tags="tcl">
            <description>
            This task helps to construct a SICS tcl script for batch execution.
         	</description>
      </task>
   </extension>
   <!--
   <extension
         point="org.gumtree.ui.gadgets">
      <gadget
            contentProvider="au.gov.ansto.bragg.kowari.ui.widgets.KowariNeutronCountGadget"
            icon="icons/gadgets/javaassist_co.gif"
            id="au.gov.ansto.bragg.kowari.ui.beamMonitorGadget"
            isGlobal="true"
            name="Neutron Counts">
      </gadget>
      <gadget
            contentProvider="au.gov.ansto.bragg.kowari.ui.widgets.KowariMotorStatusGadget"
            icon="icons/gadgets/javaassist_co.gif"
            id="au.gov.ansto.bragg.kowari.ui.motorGadget"
            isGlobal="true"
            name="Motor Status">
      </gadget>
      <gadget
            contentProvider="au.gov.ansto.bragg.kowari.ui.widgets.KowariMotorStatusGadget"
            icon="icons/gadgets/javaassist_co.gif"
            id="au.gov.ansto.bragg.kowari.ui.motorGadget"
            isGlobal="true"
            name="Motor Status">
      </gadget>
      <gadget
            contentProvider="au.gov.ansto.bragg.kowari.ui.widgets.KowariSlitsGadget"
            icon="icons/gadgets/slits_16x16.png"
            id="au.gov.ansto.bragg.kowari.ui.slitsGadget"
            isGlobal="true"
            name="Slits">
      </gadget>
      <gadget
            contentProvider="au.gov.ansto.bragg.kowari.ui.widgets.KowariPositionerStatusGadget"
            icon="icons/gadgets/stage_16x16.gif"
            id="au.gov.ansto.bragg.kowari.ui.positionerGadget"
            isGlobal="true"
            name="Positioner">
      </gadget>
      <gadget
            contentProvider="au.gov.ansto.bragg.kowari.ui.widgets.KowariMonochromatorGadget"
            icon="icons/gadgets/mono_16x16.png"
            id="au.gov.ansto.bragg.kowari.ui.monochromatorGadget"
            isGlobal="true"
            name="Monochromator">
      </gadget>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.themes">
      <!-- themeElementCategory
       		id="au.gov.ansto.bragg.kowari.ui.theme"
       		class="au.gov.ansto.bragg.kowari.ui.internal.TCLRunnerPerspective"
       		label="Kowari Experiment"/ -->
      <theme
        	id="au.gov.ansto.bragg.kowari.ui.theme"
        	name="Kowari Experiment View Title Font">
        	<fontOverride
        		id="org.eclipse.ui.workbench.TAB_TEXT_FONT"
        		value="Arial-bold-14">
        	</fontOverride>
        	<description>
        		This font is used by the Kowari experiment view title.
        	</description>
      </theme>
      <theme
        	id="au.gov.ansto.bragg.kowari.ui.default"
        	name="Default View Title Font">
        	<fontOverride
        		id="org.eclipse.ui.workbench.TAB_TEXT_FONT"
        		value="Tahoma-regular-8">
        	</fontOverride>
        	<description>
        		This font is used by all the view title except for Kowari experiment perspective.
        	</description>
      </theme>
   </extension>
</plugin>
