<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="taipanHttpcontext"
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="taipan">
         <resource-mapping
               path="/taipan/rest">
         </resource-mapping>
      </httpcontext>
   </extension>
   <extension
         id="taipanRestlet"
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/taipan/rest"
            class="org.restlet.ext.servlet.ServerServlet"
            httpcontextId="taipan">
         <init-param
               name="org.restlet.application"
               value="au.gov.ansto.bragg.taipan.webserver.restlet.TaipanRestletApplication">
         </init-param>
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/taipan.html"
            base-name="/WebContent/taipan.html">
      </resource>
      <resource
            alias="/index.html"
            base-name="/WebContent/index.html">
      </resource>
      <resource
            alias="/taipan.swf"
            base-name="/WebContent/taipan.swf">
      </resource>               
      <resource
            alias="/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
   </extension>
</plugin>
