<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.gumtree.app.workbench.application"
            name="Gumtree 1.12.6">
         <property
               name="appName"
               value="Gumtree 1.12.6">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/org.gumtree.app.runtime/images/earth.png">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/org.gumtree.app.runtime/images/g-icon_16x16.png,platform:/plugin/org.gumtree.app.runtime/images/g-icon_32x32.png,platform:/plugin/org.gumtree.app.runtime/images/g-icon_48x48.png,platform:/plugin/org.gumtree.app.runtime/images/g-icon_64x64.png,platform:/plugin/org.gumtree.app.runtime/images/g-icon_128x128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="5,257,571,17">
         </property>
         <property
               name="startupProgressRect"
               value="1,280,573,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="Gumtree&#x0A;&#x0A;(c) Copyright ANSTO and others 2016.  All rights reserved.&#x0A;Visit https://github.com/Gumtree/gumtree&#x0A;&#x0A;This product includes software developed by the&#x0A;Eclipse Foundation http://www.eclipse.org/">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.platform/LegacyIDE.e4xmi">
         </property>
         <!--
         <property
               name="cssTheme"
               value="net.jeeeyul.eclipse.themes.chrome">
         </property>
         -->
         <property
				name="cssTheme"
				value="org.eclipse.e4.ui.css.theme.e4_default">
		  </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.platform/images/">
         </property>
      </product>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.ui.internal.ide.application.IDEApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.gumtree.app.workbench.support.ScriptingPerspectiveFactory"
            icon="icons/1294970752_script.png"
            id="org.gumtree.app.workbench.scriptingPerspective"
            name="Scripting">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            name="%activity.team"
            description="%activity.team.desc"
            id="org.eclipse.team">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.team"
            pattern="org\.eclipse\.team\.ui/org.*">
      </activityPatternBinding> 
      <activityPatternBinding
            activityId="org.eclipse.team"
            pattern="org\.eclipse\.compare/compareWithPatch">
      </activityPatternBinding>  
      <activity
            description="Java Development Tools"
            id="org.eclipse.jdt"
            name="JDT">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.jdt"
            pattern="org\.eclipse\.jdt\.ui/org.*">
      </activityPatternBinding>
      <activity
            description="Debugging Tools"
            id="org.eclipse.debug"
            name="Debug">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.debug"
            pattern="org\.eclipse\.debug\.ui/org.*">
      </activityPatternBinding>
      <activity
            description="Plug-in Development Environment"
            id="org.eclipse.pde"
            name="PDE">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.pde"
            pattern="org\.eclipse\.pde\.ui/org.*">
      </activityPatternBinding>
      <activity
            description="External Tools"
            id="org.eclipse.ui.externaltools"
            name="External">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.ui.externaltools"
            pattern="org\.eclipse\.ui\.externaltools/org.*">
      </activityPatternBinding>
      <activity
            description="Search"
            id="org.eclipse.search"
            name="Search">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.search"
            pattern="org\.eclipse\.search/org.*">
      </activityPatternBinding>
      <activity
            description="ANT"
            id="org.eclipse.ant"
            name="ANT">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.ant"
            pattern="org\.eclipse\.ant\.ui/org.*">
      </activityPatternBinding>
      <activity
            description="IDE"
            id="org.eclipse.ui.ide"
            name="IDE">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.ui.ide"
            pattern="org\.eclipse\.ui\.ide\.application/org.eclipse.ui.resourcePerspective">
      </activityPatternBinding>
      <activity
            description="Navigation"
            id="org.eclipse.ui.navigate"
            name="Navigation">
      </activity>
      <activity
            description="PyDev IDE"
            id="org.python.pydev"
            name="PyDev">
      </activity>
      <activityPatternBinding
            activityId="org.python.pydev"
            pattern="org\.python\.pydev/org.python.pydev.ui.PythonPerspective">
      </activityPatternBinding>
      <activity
            description="XML Tools"
            id="org.eclipse.wst.xml"
            name="XML">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.wst.xml"
            pattern="org\.eclipse\.wst\.xml\.ui/org.eclipse.wst.xml.ui.perspective">
      </activityPatternBinding>
      <category
            description="%activity.cat.team.desc"
            id="org.eclipse.categories.teamCategory"
            name="%activity.cat.team">
      </category>
      <categoryActivityBinding
            activityId="org.eclipse.team"
            categoryId="org.eclipse.categories.teamCategory">
      </categoryActivityBinding>
      <category
            description="Development Tools"
            id="org.eclipse.categories.ideCategory"
            name="IDE">
      </category>
      <categoryActivityBinding
            activityId="org.eclipse.jdt"
            categoryId="org.eclipse.categories.ideCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.eclipse.debug"
            categoryId="org.eclipse.categories.ideCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.python.pydev"
            categoryId="org.eclipse.categories.ideCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.eclipse.wst.xml"
            categoryId="org.eclipse.categories.ideCategory">
      </categoryActivityBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page            
            category="org.eclipse.ui.preferencePages.Workbench"
            name="%PreferencePages.Capabilities"
            id="org.eclipse.sdk.capabilities">
            <class class="org.eclipse.ui.activities.ActivityCategoryPreferencePage">
                <parameter name="allowAdvanced" value="true"/>
                <parameter name="captionMessage" value="%PreferencePages.Capabilities.captionMessage" />
            	<parameter name="activityName" value="%PreferencePages.Capabilities.activityName" />
                <parameter name="categoryName" value="%PreferencePages.Capabilities.categoryName" />
            	<parameter name="activityPromptButton" value="%PreferencePages.Capabilities.activityPromptButton"/>
            	<parameter name="activityPromptButtonTooltip" value="%PreferencePages.Capabilities.activityPromptButtonTooltip"/>
            </class>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.gumtree.app.workbench.support.TerminalHandler"
            id="org.gumtree.app.workbench.openTerminalCommand"
            name="Open Command Line Terminal">
      </command>
      <command
            defaultHandler="org.gumtree.app.workbench.support.NewWizardHandler"
            id="org.gumtree.app.workbench.newWizardCommand"
            name="New Wizard">
         <commandParameter
               id="newWizardId"
               name="New Wizard ID"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.gumtree.ui.appLaunches">
      <appLaunch
            commandId="org.eclipse.ui.window.preferences"
            icon64="icons/apps/preferences_64x64.png"
            label="Preferences">
      </appLaunch>
      <appLaunch
            commandId="org.gumtree.app.workbench.openTerminalCommand"
            icon64="icons/apps/terminal_64x64.png"
            label="Terminal">
      </appLaunch>
      <appLaunch
            commandId="org.eclipse.ui.browser.openBrowser"
            icon64="icons/apps/internet_64x64.png"
            label="Browser">
         <parameter
               id="url"
               value="http://www.google.com">
         </parameter>
      </appLaunch>
      <appLaunch
            commandId="org.eclipse.ui.browser.openBrowser"
            icon64="icons/apps/map_64x64.png"
            label="Google Map">
         <parameter
               id="url"
               value="http://maps.google.com">
         </parameter>
      </appLaunch>
      <appLaunch
            commandId="org.gumtree.app.workbench.newWizardCommand"
            icon64="icons/apps/text_editor_64x64.png"
            label="Text Editor">
         <parameter
               id="newWizardId"
               value="org.eclipse.ui.editors.wizards.UntitledTextFileWizard">
         </parameter>
      </appLaunch>
      <appLaunch
            commandId="org.gumtree.app.workbench.newWizardCommand"
            icon64="icons/apps/workflow_64x64.png"
            label="New Workflow">
         <parameter
               id="newWizardId"
               value="org.gumtree.workflow.ui.newWizard">
         </parameter>
      </appLaunch>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="org.gumtree.ui.cruise.support.CruisePanelView"
            icon="icons/dashboard_16x16.png"
            id="org.gumtree.app.workbench.cruisePanel"
            name="Cruise Panel"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.gumtree.app.workbench.internal.SidebarActivator"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.gumtree.app.workbench.support.ExtendedEclipseSplashHandler"
            id="org.gumtree.app.workbench.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.gumtree.app.workbench.product"
            splashId="org.gumtree.app.workbench.splashHandler">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.gumtree.ui.hubs">
      <hub
            label="Settings">
      </hub>
   </extension>
   <!--
   <extension
         point="org.gumtree.ui.gadgets">
      <gadget
            class="org.gumtree.ui.support.gadgets.JVMStatisticsGadget"
            level="5"
            name="JVM Statistics"
            prespectives="*">
      </gadget>
   </extension>
   -->
</plugin>
