<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/AC_OETags.js"
            base-name="/WebContent/AC_OETags.js">
      </resource>
      <resource
            alias="/playerProductInstall.swf"
            base-name="/WebContent/playerProductInstall.swf">
      </resource>
      <resource
            alias="/history/history.css"
            base-name="/WebContent/history/history.css">
      </resource>
      <resource
            alias="/history/history.js"
            base-name="/WebContent/history/history.js">
      </resource>
      <resource
            alias="/history/historyFrame.html"
            base-name="/WebContent/history/historyFrame.html">
      </resource>
      <resource
            alias="/mobile.html"
            base-name="/WebContent/mobile.html">
      </resource>
      <resource
            alias="/mobile.js"
            base-name="/WebContent/mobile.js">
      </resource>
      <resource
            alias="/manager.html"
            base-name="/WebContent/manager.html">
      </resource>
      <resource
            alias="/manager.js"
            base-name="/WebContent/manager.js">
      </resource>
      <resource
            alias="/mobile.css"
            base-name="/WebContent/mobile.css">
      </resource>
      <resource
            alias="/mobilehistmem.html"
            base-name="/WebContent/mobilehistmem.html">
      </resource>
      <resource
            alias="/scripting.html"
            base-name="/WebContent/scripting.html">
      </resource>
      <resource
            alias="/scripting.js"
            base-name="/WebContent/scripting.js">
      </resource>
      <resource
            alias="/login.html"
            base-name="/WebContent/login.html">
      </resource>
      <resource
            alias="/admin.html"
            base-name="/WebContent/admin.html">
      </resource>
      <resource
            alias="/SystemAdmin.html"
            base-name="/WebContent/pyadmin.html">
      </resource>
      <resource
            alias="/register.html"
            base-name="/WebContent/register.html">
      </resource>
      <resource
            alias="/reset.html"
            base-name="/WebContent/reset.html">
      </resource>
      <resource
            alias="/login.js"
            base-name="/WebContent/login.js">
      </resource>
      <resource
            alias="/password.html"
            base-name="/WebContent/password.html">
      </resource>
      <resource
            alias="/pyscript.html"
            base-name="/WebContent/pyscript.html">
      </resource>
      <resource
            alias="/notebook.html"
            base-name="/WebContent/notebook.html">
      </resource>
      <resource
            alias="/logbook.html"
            base-name="/WebContent/logbook.html">
      </resource>
      <resource
            alias="/mobilehistmem.js"
            base-name="/WebContent/mobilehistmem.js">
      </resource>
      <resource
            alias="/flot"
            base-name="/WebContent/flot">
      </resource>
      <resource
            alias="/css"
            base-name="/WebContent/css">
      </resource>
      <resource
            alias="/js"
            base-name="/WebContent/js">
      </resource>
      <resource
            alias="/images"
            base-name="/WebContent/images">
      </resource>
      <resource
            alias="/favicon.ico"
            base-name="/WebContent/icons/favicon.ico">
      </resource>
      <resource
            alias="/icons"
            base-name="/WebContent/icons">
      </resource>
      <resource
            alias="/admin"
            base-name="/WebContent/admin">
      </resource>
      <resource
            alias="/workshop.html"
            base-name="/WebContent/workshop.html">
      </resource>
   </extension>

</plugin>
