<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="koalaHttpcontext"
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="koala">
         <resource-mapping
               path="/kaola/rest">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="koalaStatus">
         <resource-mapping
               path="/status/koala/rest">
         </resource-mapping>
      </httpcontext>
   </extension>
   <extension
         id="koalaRestlet"
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/koala/rest"
            class="org.restlet.ext.servlet.ServerServlet"
            httpcontextId="koala">
         <init-param
               name="org.restlet.application"
               value="au.gov.ansto.bragg.koala.webserver.restlet.KoalaRestletApplication">
         </init-param>
      </servlet>
      <servlet
            alias="/status/koala/rest"
            class="org.restlet.ext.servlet.ServerServlet"
            httpcontextId="koalaStatus">
         <init-param
               name="org.restlet.application"
               value="au.gov.ansto.bragg.koala.webserver.restlet.KoalaRestletApplication">
         </init-param>
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/status"
            base-name="/WebContent/koala.html">
      </resource>
      <resource
            alias="/status/koala.html"
            base-name="/WebContent/koala.html">
      </resource>
      <resource
            alias="/status/koala.swf"
            base-name="/WebContent/koala.swf">
      </resource>
      <resource
            alias="/status/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/user/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/doc/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/status/assets/Koala.JPG"
            base-name="/WebContent/assets/Koala.jpg">
      </resource>
   </extension>

</plugin>
