<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/status/emu.html"
            base-name="/WebContent/emu.html">
      </resource>
      <resource
            alias="/status"
            base-name="/WebContent/emu.html">
      </resource>
      <resource
            alias="/status/emu.swf"
            base-name="/WebContent/emu.swf">
      </resource>
      <resource
            alias="/status/assets/emu.jpg"
            base-name="/WebContent/assets/emu.jpg">
      </resource>
      <resource
            alias="/status/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/user/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/doc/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
   </extension>

</plugin>
