<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<!--
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
      		id="org.gumtree.ui.project"
      		label="Project"
      		visible="true">
      	 <menu
               id="project"
               label="Project">
            <separator name="projectGroup"/>
         </menu>
         <action
               class="au.gov.ansto.bragg.kakadu.dom.OpenKakaduPerspectiveAction"
               icon="icons/project_view.gif"
               id="au.gov.ansto.bragg.kakadu.dom.openAnalysisProject"
               label="Analysis Project"
               menubarPath="Project/projectGroup"
               style="push"
               toolbarPath="org.gumtree.gumnix.sics.project.sics/projectBar"/>
      </actionSet>
   </extension>
	-->
</plugin>
