<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/dingo.html"
            base-name="/WebContent/dingo.html">
      </resource>
      <resource
            alias="/assets/dingo.jpg"
            base-name="/WebContent/dingo.jpg">
      </resource>
      <resource
            alias="/dingo.swf"
            base-name="/WebContent/dingo.swf">
      </resource>
      <resource
            alias="/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
         
   </extension>
</plugin>