<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="nsHttpcontext"
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="ns">
         <resource-mapping
               path="/ns/rest">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="statisticRestlet">
         <resource-mapping
               path="/st/rest">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="jythonRestlet">
         <resource-mapping
               path="/jython/rest">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="jythonRunnerRestlet">
         <resource-mapping
               path="/jython/runner">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="userManagerRestlet">
         <resource-mapping
               path="/jython/user">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="notebookRestlet">
         <resource-mapping
               path="/notebook">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="databaseRestlet">
         <resource-mapping
               path="/db">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="signinRestlet">
         <resource-mapping
               path="/signin">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="userHomeRestlet">
         <resource-mapping
               path="/home">
         </resource-mapping>
      </httpcontext>
   </extension>
   <extension
         id="nsRestlet"
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/ns/rest"
            class="org.restlet.ext.servlet.ServerServlet"
            httpcontextId="ns">
         <init-param
               name="org.restlet.application"
               value="au.gov.ansto.bragg.nbi.server.restlet.NSRestletApplication">
         </init-param>
      </servlet>
      <servlet
            alias="/st/rest"
            class="org.restlet.ext.servlet.ServerServlet"
            httpcontextId="statisticRestlet">
         <init-param
               name="org.restlet.application"
               value="au.gov.ansto.bragg.nbi.server.restlet.StatisticRestletApplication">
         </init-param>
      </servlet>
      <servlet
            alias="/jython/rest"
            class="org.restlet.ext.servlet.ServerServlet"
            httpcontextId="jythonRestlet">
         <init-param
               name="org.restlet.application"
               value="au.gov.ansto.bragg.nbi.server.restlet.JythonRestletApplication">
         </init-param>
      </servlet>
      <servlet
            alias="/jython/runner"
            class="org.restlet.ext.servlet.ServerServlet"
            httpcontextId="jythonRunnerRestlet">
         <init-param
               name="org.restlet.application"
               value="au.gov.ansto.bragg.nbi.server.restlet.JythonRunnerApplication">
         </init-param>
      </servlet>
      <servlet
            alias="/jython/user"
            class="org.restlet.ext.servlet.ServerServlet"
            httpcontextId="userManagerRestlet">
         <init-param
               name="org.restlet.application"
               value="au.gov.ansto.bragg.nbi.server.restlet.UserManagerApplication">
         </init-param>
      </servlet>
      <servlet
            alias="/notebook"
            class="org.restlet.ext.servlet.ServerServlet"
            httpcontextId="notebookRestlet">
         <init-param
               name="org.restlet.application"
               value="au.gov.ansto.bragg.nbi.server.notebook.NotebookApplication">
         </init-param>
      </servlet>
      <servlet
            alias="/db"
            class="org.restlet.ext.servlet.ServerServlet"
            httpcontextId="databaseRestlet">
         <init-param
               name="org.restlet.application"
               value="au.gov.ansto.bragg.nbi.server.notebook.DatabaseApplication">
         </init-param>
      </servlet>
      <servlet
            alias="/signin"
            class="org.restlet.ext.servlet.ServerServlet"
            httpcontextId="signinRestlet">
         <init-param
               name="org.restlet.application"
               value="au.gov.ansto.bragg.nbi.server.login.SigninApplication">
         </init-param>
      </servlet>
      <servlet
            alias="/home"
            class="org.restlet.ext.servlet.ServerServlet"
            httpcontextId="userHomeRestlet">
         <init-param
               name="org.restlet.application"
               value="au.gov.ansto.bragg.nbi.server.login.UserHomeApplication">
         </init-param>
      </servlet>
   </extension>


</plugin>
