<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.startup">
      <startup
            class="au.gov.ansto.bragg.koala.ui.KoalaWorkbenchSetup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
     <category
           id="au.gov.ansto.bragg.koala.ui"
           name="Koala Views">
     </category>
      <view
            allowMultiple="true"
            category="au.gov.ansto.bragg.koala.ui"
            class="au.gov.ansto.bragg.koala.ui.mjpeg.MjpegView"
            icon="icons/workflow.gif"
            id="au.gov.ansto.bragg.koala.ui.mjpeg.MjpegView"
            name="Mjpeg View">
      </view>
      <view
            allowMultiple="true"
            category="au.gov.ansto.bragg.koala.ui"
            class="au.gov.ansto.bragg.koala.ui.parts.KoalaMainView"
            icon="icons/workflow.gif"
            id="au.gov.ansto.bragg.koala.ui.KoalaMainView"
            name="Koala Control Panel">
      </view>
      <view
            allowMultiple="true"
            category="au.gov.ansto.bragg.koala.ui"
            class="org.gumtree.ui.cruise.support.CruisePanelView"
            icon="icons/weather_16.png"
            id="org.gumtree.ui.cruise.CruisePanelView"
            name="Sample Environment">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="au.gov.ansto.bragg.koala.ui.parts.KoalaMainPerspective"
            icon="icons/exp_per.gif"
            id="au.gov.ansto.bragg.koala.ui.KoalaMainPerspective"
            name="Koala Control"/>
   </extension>
</plugin>
