<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
     <category
           id="au.gov.ansto.bragg.pelican.ui"
           name="Pelican Views">
     </category>
      <view
            allowMultiple="false"
            category="au.gov.ansto.bragg.pelican.ui"
            class="au.gov.ansto.bragg.pelican.ui.views.TclEditorView"
            icon="icons/workflow.gif"
            id="au.gov.ansto.bragg.pelican.ui.views.TclEditorView"
            name="① Batch Editor">
      </view>
      <view
            allowMultiple="false"
            category="au.gov.ansto.bragg.pelican.ui"
            class="au.gov.ansto.bragg.pelican.ui.views.ExperimentConfigView"
            icon="icons/workflow.gif"
            id="au.gov.ansto.bragg.pelican.ui.views.ExperimentConfigView"
            name="Experiment Configuration">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="au.gov.ansto.bragg.pelican.ui.internal.TCLRunnerPerspective"
            icon="icons/exp_per.gif"
            id="au.gov.ansto.bragg.pelican.ui.TCLRunnerPerspective"
            name="Pelican Experiment"/>
   </extension>
   <extension
         point="org.gumtree.workflow.ui.tasks">
      <task
            class="au.gov.ansto.bragg.nbi.ui.tasks.SimpleTableScanTask"
            colour="DARK_GREEN"
            icon="icons/tasks/table_row_16x16.png"
            icon32="icons/tasks/table_row_32x32.png"
            label="Simple Table Scan"
            provider="Bragg Institute"
            tags="tcl">
            <description>
            A scan loaded from a ASCII file with a table of sample locations. The columns of
            the table are: sx, sy, sz, som, and scan time.
         	</description>
      </task>
      <task
            class="au.gov.ansto.bragg.nbi.ui.tasks.HmmscanTask"
            colour="DARK_CYAN"
            icon="icons/tasks/arbitraryScan_16x16.gif"
            icon32="icons/tasks/arbitraryScan_32x32.gif"
            label="Collect Counts"
            provider="Bragg Institute"
            tags="tcl">
            <description>
            A scan for you to move arbitrary devices at scan positions. The scan result 
            will be saved in a single file. For more information, please read Gumtree manual.
         	</description>
      </task>
   </extension>
   <extension 
   		point="org.gumtree.ui.launchers">
      <launcher
            category="au.gov.ansto.bragg.experiment"
            class="au.gov.ansto.bragg.pelican.ui.internal.PelicanWorkbenchLauncher"
            icon32="icons/MultiMonitors32.png"
            icon64="icons/MultiMonitors.png"
            id="au.gov.ansto.bragg.pelican.ui.PelicanWorkbenchLauncher"
            label="Pelican Workbench"
            quickLauncher="true">
         <description>
            Start 2 monitor setup in the following order:
			1. Experiment Window
			2. Analysis Scripting Window
         </description>
      </launcher>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="au.gov.ansto.bragg.pelican.ui.internal.PelicanWorkbenchSetup">
      </startup>
   </extension>
</plugin>
