<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/status"
            base-name="/WebContent/quokka.html">
      </resource>
      <resource
            alias="/status/quokka.html"
            base-name="/WebContent/quokka.html">
      </resource>
      <resource
            alias="/status/index.html"
            base-name="/WebContent/index.html">
      </resource>
      <resource
            alias="/status/quokka.swf"
            base-name="/WebContent/quokka.swf">
      </resource>
      <resource
            alias="/status/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/user/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/user/doc/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/status/assets/quokka_dash.jpg"
            base-name="/WebContent/assets/quokka_dash.jpg">
      </resource>
   </extension>
</plugin>
