<div id="login_result" class="div_info_alert"></div>
<form id="login_form" method="post" action="jython/user?type=LOGIN" name="login_form" accept-charset="utf-8">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="scrollTable" id="table_login">
    <tbody class="scrollContent table_jython_content" id="login_body">
        <tr>
            <td colspan="2"><div class="table_header">Sign in to Scripting Service</div></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="text" id="login_email" name="login_email"></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" id="login_password" name="login_password"></td>
        </tr>
        <tr>    
            <td></td>
            <td><input type="button" class="buttonStyle" data-role="button" id="login_submit" value="Sign in"></td>
        </tr>
    </tbody>
</table>
</form>