<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/bilby.swf"
            base-name="/WebContent/bilby.swf">
      </resource>
      <resource
            alias="/status/bilby.swf"
            base-name="/WebContent/bilby.swf">
      </resource>
      <resource
            alias="/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/status/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/user/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/doc/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/assets/bilby_model.JPG"
            base-name="/WebContent/assets/bilby_model.JPG">
      </resource>
      <resource
            alias="/status/assets/bilby_model.JPG"
            base-name="/WebContent/assets/bilby_model.JPG">
      </resource>
   </extension>

</plugin>
