<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/echidna.html"
            base-name="/WebContent/echidna.html">
      </resource>
      <resource
            alias="/"
            base-name="/WebContent/echidna.html">
      </resource>
      <resource
            alias="/index.html"
            base-name="/WebContent/index.html">
      </resource>
      <resource
            alias="/echidna.swf"
            base-name="/WebContent/echidna.swf">
      </resource>
      <resource
            alias="/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
   </extension>

</plugin>
