#id_div_headercorner {
	float: right;
	display: inline;
	padding-top: 2px;
	padding-right: 10px;
}

#id_div_headercorner img{
	height: 36px;
	vertical-align: middle;
	opacity: 0.35;
}

#id_div_headercorner img:hover {
   	opacity: 1.0;
}

#id_div_headercorner a{
    color: white;
    font-size: 14px;
    text-shadow: 1px 1px #A59595;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
}

#id_div_headercorner a:hover{
    color: #207cca;
    text-decoration: underline;
    opacity: 1.0;
}

