body {
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
/*    background-color: #222222;*/
}

table {
    width: 100%;
}

@media screen {
	header {
		margin: 0px auto;
		margin-top: 48px;
/*		padding: 50px 20px 20px 0px;
		position: relative;*/
		width: 680px;
	}
	footer {
		margin: 0px auto;
		width: 720px;
	}
}

@media print {
	header {
		margin: 0px auto;
		padding-left: 10px;
	/*		padding: 50px 20px 20px 0px;
		position: relative;*/
		width: 680px;
	}
	footer {
		margin: 0px auto;
		padding-right: 10px;
		width: 720px;
	}
}

td,
th {
    border: 1px dotted #777;
}

@media screen {
	.class_editable_page {
		position: relative;
		width: 680px;
		background-color: white;
		min-height: 640px;
		padding: 10px 10px 20px;
		margin: 0px auto;
/*		margin-left: 16px; */
		background: #F6F6F6 none repeat scroll 0% 0%;
		border: 1px solid #8F8F8F;
		border-radius: 6px;
		box-shadow: 0px 0px 3px #AFAFAF;
	}
	
	.class_editable_page img{
		border: 1px solid #444;
		box-shadow: 1px 1px 3px #AFAFAF;
	}
}

@media print {
	.class_editable_page {
		position: relative;
		width: 680px;
		background-color: white;
		min-height: 800px;
		padding: 10px 10px 20px;
		margin: 0px auto;
	}
	
	.class_editable_page .class_db_plot img{
		border: 1px solid #444;
		box-shadow: 1px 1px 3px #AFAFAF;	
	}
}

.class_editable_page img {
	max-width:100%;
	max-height:100%;
}

.div_footer{
	float: right;
	margin-right: 8px;
}

@media screen {
	.slide-out-div  {
		height:auto;
		padding: 2px;
		width: 480px;
		background: #ddd;
		border: #29216d 1px solid;
	}
}

@media print {
	.slide-out-div  {
		display: none;
	}
}

.div_sidebar_inner {
	height:auto;
	overflow-y: scroll;
}

.div_sidebar_inner img {
	max-width:100%;
	max-height:100%;
}

.class_db_object{
	margin: 4px;
	padding: 4px;
	cursor: pointer;
/* draggable disabled
	cursor: hand;
	cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
*/
	position: relative;
	overflow: auto;
	
	border: 1px solid #8F8F8F;
	border-radius: 4px;
	box-shadow: 1px 1px 3px #AFAFAF;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    word-wrap: break-word; 
    overflow: hidden;
}


/* draggable disabled 
.class_db_object:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
*/

.class_db_object:HOVER {
	background-color: white;
	border: 1px solid #666;
}

.class_db_insert {
    display: block;
    position: absolute;
    border: 1px solid red;
	border: 1px solid #8F8F8F;
	border-radius: 4px;
	box-shadow: 1px 1px 3px #AFAFAF;
	z-index: 20;
	background-color: #999;
	color: white;
	
	font-family: "Palatino Linotype", Book Antiqua, Palatino, serif;
	font-size: 14px;
    vertical-align: middle;
	font-weight: bold;
	text-decoration: none;
	padding: 4px;
}

.class_db_insert img {
    vertical-align: middle;
}

.class_db_insert span {
    vertical-align: middle;
}

.class_db_insert:HOVER {
	background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.class_inner_message {
	margin: 8px;
	color: #999;
}

.class_inner_topmessage {
	margin: 8px;
	color: #999;
}

.class_inner_loading {
	margin: 8px;
	text-align: center;
}