body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.float_right {
  float: right;
}
.menu_left {
  display: flex;
  gap: 10px;
}
.padding_right_4 {
  padding-right: 4px!important;
}
.clickable {
	color: #007bff;
	cursor: pointer;
}
.darker_background {
	background-color: #e9ecef;
}
.dark_background {
	background-color: #adb5bd !important;
}

.instrument_background {
	/*
	background-color: #e0eadb;
	*/
	background-color: #D8DBE2;
}

.instrument_sidebar {
	/*
	background-color: #f2cf97;
	*/
	background-color: #A9BCD0;
}

.instrument_floating_right {
	/*
	background-color: #f0ebe7 !important;
	*/
	background-color: #A9BCD0 !important;
}

.instrument_sidebar .class_ul_folder {
	background-color: #707e91;
}

.admin_background {
	/*
	background-color: #e0eadb;
	*/
	background-color: #eee7df;
}

.admin_sidebar {
	/*
	background-color: #f2cf97;
	*/
	background-color: #A99985;
}

.admin_floating_right {
	/*
	background-color: #f0ebe7 !important;
	*/
	background-color: #DAD2BC !important;
}

.admin_sidebar .class_ul_folder {
	background-color: #DAD2BC;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 172px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-half-top {
	height: calc(50vh - 24px);
	overflow-y: auto;
}

.sidebar-half-buttom {
	height: calc(50vh - 180px);
	overflow-y: auto;
}

.class_span_cid_label {
	cursor: pointer;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

li.active a.nav-link {
	color: #eee;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .85rem;
  text-transform: uppercase;
}

.sidebar-subheading {
  font-size: .80rem;
  text-transform: capitalize;
}

.class_a_axis {
	font-size: .75rem;
}

.class_ul_folder {
	background-color: #9ca5af;
}

.class_span_mc_input {
	line-height: inherit;
}

div.class_a_mc {
	cursor: pointer;
}
div.class_a_mc :hover{
	text-decoration: underline;
	color: #007bff;
}

.class_mc_input {
	line-height: 1em;
	padding-top: 0;
	padding-bottom: 0.1em;
	font-size: small;
}

h6.sidebar-subheading {
	text-transform: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

input.class_SE_checkbox {
  font-weight: 500;
}
/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

@media (max-width: 768px) {
	[role="main"] {
  		padding-top: 120px; /* Space for fixed navbar */
	}
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

#id_a_instrument_name {
	color: #eee;
}
#id_a_instrument_name:hover {
	color: #fff;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#id_ul_tabs {
	font-size: large;
	margin-bottom: 8px;
	font-weight: bold;
}
/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }



/* below is for the sidebar */
.class_span_side_title {
	padding: 24px 4px 4px 16px;
	margin: 0;
}
.class_span_side_title h5 {
	font-weight: bold;
}
.class_span_side_home {
	padding: 24px 4px 4px 16px;
	margin: 0;
	font-size: larger;
}
.class_span_side_database {
	padding: 24px 4px 4px 16px;
	margin: 0;
	font-size: larger;
}

.class_ul_hide {
	display: none;
}

.class_span_hide {
	display: none;
}

.class_li_subitem {
	padding-left: 40px;
	margin: 2px;
}
.class_li_subitem :hover {
	color: #007bff;
	text-decoration: underline;
}
.class_li_subitem a {
	padding: 0;
	margin: 0px;
}
.class_span_mc_name {
	color: #06002b;
	font-weight: bolder;
}
.class_ul_folder > li.active {
	background-color: #495057;
}
.class_ul_folder > li.active > a {
	color: #ffe;
}
.btn-toolbar button{
	min-width: 120px;
}
td.editable_key,
td.editable_type,
td.editable_value, 
td.pair_key,
td.pair_value {
  /*border-bottom:1pt solid #808a95;*/
  padding: 0;
  margin: 0;
  vertical-align: middle;
  text-align: left;
}
td.editable_value table {
	margin: 2px 0;
}
td.editable_value input,
td.editable_key input,
td.pair_key input 
td.pair_value input {
	background: transparent;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-bottom: 1pt solid #808a95;
	color: #000; padding : 0;
	margin: 0;
/*	box-shadow: none !important; */
	padding-left: 4px;
	padding-right: 2px;
}
td.editable_value input[type='checkbox'] {
	width: auto;
}
td.editable_value input[type="text"]:disabled {
  background: #ccc;
}

td.pair_control {
	min-width: 50px;
}
td.pair_control button {
	padding: 0 8px 0 8px; 
	font-family: monospace;
	margin-right: 1px;
}
td.editable_value input.changed, 
td.pair_key input.changed,
td.pair_value input.changed {
	color: #0067ce;
}
td.editable_type select {
	background: transparent;
	color: #000; padding : 0;
	margin: 0;
	width: auto;
	max-width: 90%;
	padding: 0;
	padding-left: 4px;
	font-size: small;
	height: 28px !important;
}
tbody > tr.active td {
	background: #ccc;
}
tbody > tr.warning td {
	background: #fdb3bf;
}
tbody > tr > td.warning {
	background: #fdb3bf;
}
.line-space-L tr input{
	line-height: 34px;
}
#id_div_info {
	min-height: 24px;
}

/* below layout for the pop up search result */
.messagepop {
  background-color:#eee;
  border:2px solid #888;
  border-top: none;
  border-radius: 0 4px 4px 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.5);
  cursor:default;
  display:none;
  margin: 0;
  position:absolute;
  text-align:left;
  min-width: 480px;
  width:480px;
  z-index:50;
  padding: 0px;
}
.messagepop ul {
	padding: 0;
}
.messagepop li {
  border-bottom: 1px solid #EFEFEF;
  /*margin: 4px 0;*/
  padding: 4px 8px;
  font-size: 16px;
  list-style: none;
}
.messagepop li.selected {
	background-color: #aaa;
}
.messagepop li:NOT(.groupname):HOVER {
	background-color: #aaa;
	color: #fff;
	cursor: pointer;
}
.messagepop li.selected .widget_text {
	color: #fff;
}
.messagepop li.groupname {
	background-color: #eee;
	color: #888;
	font-variant: small-caps;
	font-weight: bold;
	border-bottom: #ccc solid 1px;
}

[role="main"] {
    padding-right: 0px;
}

#id_div_main_area {
	float: left;
	width: 100%;
	padding-right: 8px;
}
#id_div_right_bar {
	display: none;
	float: left;
	width: 30%;
	min-width:180px;
/*	min-height: 600px;
	min-height: 480px;*/
	background-color: #fafafa;
	bottom: 10px;
	
	overflow-y: auto;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    
}
.class_div_bar_header {
	vertical-align: middle;
	margin:0;
	padding: 0 0 4px 0;
}
.class_span_bar_title {
	font-size: large;
	vertical-align: middle;
	margin: 0 12px 0 4px;
}
.class_div_commit_item {
	border: 2px solid #aaa;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
	padding: 4px;
	margin-bottom: 4px;
}
.class_div_commit_item:hover {
	background-color: #fff;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, .5);
}
.class_div_commit_item span{
	display: block;
	padding: 4px;
}
.class_button_instrument {
	min-width: 360px;
}
.class_span_title {
	color: #eee;
	font-size: large;
	padding-left: 8px;
}
.class_div_instrument_option {
	padding: 8px;
}
tr.editable_row:hover {
	background-color: #ddd;
}
.table-striped tbody tr.editable_row:hover {
	background-color: #ddd;
}
.class_div_device_canvas {
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 24px;
  text-align: center;
  background-color: #fafafa;
  min-height: 400px;
/*  margin: 4px;*/
}

.class_div_device_item {
  font: 1.4em bold arial;
  color: #333;
  /*text-align: center;*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.class_div_device_item select, .class_div_device_item span {
	width: auto;
	white-space: nowrap;
}

.class_div_sample_stage {
  padding-bottom: 35px;
}

.class_div_device_page {
  width: 240px;
  display: inline-block;
  border: 2px solid #aaa;
  box-shadow: 2px 3px #888888;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #e0e0e0;
  margin: 12px;
}

.class_div_motor_group {
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 24px;
  text-align: center;
  background-color: #fafafa;
  min-height: 400px;
/*  margin: 4px;*/
}

.class_div_desc_editor {
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.class_div_desc_editor > span {
	display: inline-block;
	width: 240px;
	margin: 8px 0;
	font-size: 1em;
}

.class_div_motor_box {
  width: 240px;
  height: 360px;
  display: inline-block;
  border: 2px solid #aaa;
  box-shadow: 2px 3px #888888;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #e0e0e0;
  vertical-align: middle;
  margin: 12px;
  padding: 8px;
  overflow-y: auto;
}

.class_div_motor_item {
	margin: 4px;
	background-color: #f4f4f4;
	border: 2px outset #ccc;
	border-radius: 2px;
	padding: 4px;
}

/*
.class_div_motor_item:hover {
    border: 2px outset #ccc;
}
*/

.class_span_motor_control {
	float: right;
	color: #007bff;
	margin-right: 8px;
	cursor: pointer;
	border: 2px hidden #ccc;
	border-radius: 4px;
	padding: 0 4px;
}

.class_span_motor_control:hover {
	border: 2px outset #ccc;
}
.class_div_box_editor {
  font: 1.4em bold arial;
  color: #333;
  /*text-align: center;*/
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 50px;
}

.class_span_box_title {
  font-size: 1.2em;
}

.main_footer {
	margin: 8px 0px;
}
a.class_a_cid_delete {
  float: right;
  margin-right: 4px;
  font-size: 1.2em;
  color: #400 !important;
}
a.class_a_cid_delete:hover {
  color: #F00 !important;
}
.div_hidden {
	display: none;
}
.div_static {
	background-color: #aaa;
}
.span_highlight {
	color: #770000;
}
td.editable_control, th.editable_control {
	padding: 0 4px;
	vertical-align: middle;
	color: maroon;
}
td.editable_control > span, th.editable_control > span {
	cursor: pointer;
}
#id_div_main_area {
	/* height: calc(100vh - 140px);*/
	overflow-y: auto;
	bottom: 10px;
}
li.nav-item > a.active {
	cursor: default;
}
span.tab_remove {
	margin-left: 6px;
	cursor: pointer;
	font-size: 0.8em;
	vertical-align: text-top;
	color: maroon;
}
span.span_error_id {
	cursor: pointer;
	text-decoration: underline;
	color: #0080c0;
}
span.span_error_msg {
	color: #6f3737;
}