<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="au.gov.ansto.bragg.kookaburra.ui.internal.KookaburraScanPerspective"
            fixed="true"
            icon="icons/edu_science_16x16.png"
            id="au.gov.ansto.bragg.kookaburra.ui.scanPerspective"
            name="Kookaburra Scan">
      </perspective>
	  <perspective
            class="au.gov.ansto.bragg.kookaburra.ui.internal.KKBScanPerspective"
            icon="icons/target_16x16.png"
            id="au.gov.ansto.bragg.kookaburra.ui.KKBScanPerspective"
            name="KKB-Scan">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Kookaburra"
            id="au.gov.ansto.bragg.kookaburra">
      </category>
      <view
            category="au.gov.ansto.bragg.kookaburra"
            class="au.gov.ansto.bragg.kookaburra.ui.internal.KookaburraScanView"
            icon="icons/edu_science_16x16.png"
            id="au.gov.ansto.bragg.kookaburra.ui.scanView"
            name="kookaburra Scan">
      </view>
      <view 
	         id="au.gov.ansto.bragg.kookaburra.ui.KKBScanView" 
	         name="KKB-Scan View"
	         icon="icons/exp_per.gif"
             category="au.gov.ansto.bragg.kookaburra"
	         allowMultiple = "false" 
	         class="au.gov.ansto.bragg.kookaburra.ui.internal.KKBScanView">
	  </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="au.gov.ansto.bragg.kookaburra.ui.internal.KookaburraWorkbenchSetup">
      </startup>
   </extension>

</plugin>
