<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/status"
            base-name="/WebContent/kowari.html">
      </resource>
      <resource
            alias="/status/kowari.html"
            base-name="/WebContent/kowari.html">
      </resource>
      <resource
            alias="/status/index.html"
            base-name="/WebContent/index.html">
      </resource>
      <resource
            alias="/status/kowari.swf"
            base-name="/WebContent/kowari.swf">
      </resource>
      <resource
            alias="/status/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/user/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/doc/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
   </extension>

</plugin>
