<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.gumtree.gumnix.sics.ui"
            class="org.gumtree.control.ui.ControlTableView"
            icon="icons/full/obj16/server.gif"
            id="org.gumtree.control.ui.ControlTableView"
            name="SICS Control Model">
      </view>
      <view
            category="org.gumtree.control.ui"
            class="org.gumtree.control.ui.SicsVisualBatchView"
            icon="icons/showcategory_ps.gif"
            id="org.gumtree.control.ui.SicsVisualBatchView"
            name="Visual Batch Editor">
      </view>
      <view
            category="org.gumtree.control.ui"
            class="org.gumtree.control.ui.BatchManagerView"
            icon="icons/script.GIF"
            id="org.gumtree.control.ui.batchScriptManagerView"
            name="Batch Script Manager"
            restorable="true">
      </view>
      <view
            category="org.gumtree.control.ui"
            class="org.gumtree.control.ui.ControlTerminalView"
            icon="icons/terminal.png"
            id="org.gumtree.control.ui.ControlTerminalView"
            name="Control Terminal View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.gumtree.ui.communicationAdapters">
      <communicationAdapter
            class="org.gumtree.control.ui.internal.ZMQAdapter"
            id="org.gumtree.control.ui.ZMQAdapter"
            label="ZMQ Adapter"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.gumtree.control.ui.statusline.StatusLineStartup"/>
   </extension>      
</plugin>
