<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.gumtree.gumnix.sics.ui"
            class="org.gumtree.control.ui.ControlTableView"
            icon="icons/full/obj16/server.gif"
            id="org.gumtree.control.ui.ControlTableView"
            name="SICS Control Model">
      </view>
      <view
            category="org.gumtree.control.ui"
            class="org.gumtree.control.ui.SicsVisualBatchView"
            icon="icons/showcategory_ps.gif"
            id="org.gumtree.control.ui.SicsVisualBatchView"
            name="Visual Batch Editor">
      </view>
      <view
            category="org.gumtree.control.ui"
            class="org.gumtree.control.ui.BatchManagerView"
            icon="icons/script.GIF"
            id="org.gumtree.control.ui.batchScriptManagerView"
            name="Batch Script Manager"
            restorable="true">
      </view>
      <view
            category="org.gumtree.control.ui"
            class="org.gumtree.control.ui.ControlTerminalView"
            icon="icons/terminal.png"
            id="org.gumtree.control.ui.ControlTerminalView"
            name="Control Terminal View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.gumtree.ui.communicationAdapters">
      <communicationAdapter
            class="org.gumtree.control.ui.internal.ZMQAdapter"
            id="org.gumtree.control.ui.ZMQAdapter"
            label="ZMQ Adapter"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.gumtree.control.ui.statusline.StatusLineStartup"/>
   </extension>      
   <extension
         point="org.gumtree.workflow.ui.tasks">
      <task
            class="org.gumtree.control.ui.batch.task.BatchExecutorTask"
            icon="icons/tasks/executable-script16x16.png"
            icon32="icons/tasks/executable-script32x32.png"
            label="SICS Batch Executor"
            provider="ACNS"
            tags="sics">
         <description>
            This tasks runs a batch script in the SICS server.  It excepts inputs from batch command task, or from a text file.
         </description>
      </task>
      <!-- task
            class="org.gumtree.control.ui.batch.task.CommandBlockTask"
            icon="icons/tasks/tcl16x16.png"
            icon32="icons/tasks/tcl32x32.png"
            label="SICS Batch Commands"
            provider="ACNS"
            tags="tcl">
         <description>
            This task helps to construct a SICS tcl script for batch execution.
         </description>
      </task>
      <task
            class="org.gumtree.control.ui.batch.task.HeaderInformationBlockTask"
			icon="icons/tasks/H_16x16.png"
			icon32="icons/tasks/H_32x32.png"	
            label="User Header Information"
            provider="ACNS"
            tags="tcl">
      </task -->
   </extension>
</plugin>
