<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension 
   		point="org.gumtree.ui.launchers">
      <launcher
            category="au.gov.ansto.bragg.experiment"
            class="au.gov.ansto.bragg.taipan.ui.TaipanWorkbenchLauncher"
            icon32="icons/MultiMonitors32.png"
            icon64="icons/MultiMonitors.png"
            id="au.gov.ansto.bragg.taipan.ui.TaipanWorkbenchLauncher"
            label="Taipan Workbench"
            quickLauncher="true">
         <description>
            Start 2 monitor setup in the following order:
			1. Experiment Window
			2. Analysis Scripting Window
         </description>
      </launcher>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="au.gov.ansto.bragg.taipan.ui.internal.TaipanWorkbenchSetup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="au.gov.ansto.bragg.taipan.ui.internal.TaipanCalibrationPerspective"
            fixed="true"
            icon="icons/compass_16x16.png"
            id="au.gov.ansto.bragg.taipan.ui.TaipanCalibrationPerspective"
            name="Taipan Calibration">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="au.gov.ansto.bragg.taipan.ui.internal.LaunchCalibrationHandler"
            id="au.gov.ansto.bragg.taipan.ui.LaunchCalibration"
            name="Launch Calibration Window">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="au.gov.ansto.bragg.nbi.ui.toolbar"
               label="NBI UI">
            <command
                  commandId="au.gov.ansto.bragg.taipan.ui.LaunchCalibration"
                  icon="icons/calibration_32x16.png"
                  label="Launch Calibration Window"
                  style="push"
                  tooltip="Launch Nickel Calibration Window">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="au.gov.ansto.bragg.taipan.ui.align.TaipanCalibrationView"
            id="au.gov.ansto.bragg.taipan.ui.TaipanCalibrationView"
            name="Calibration View"
            restorable="true">
      </view>
   </extension>
</plugin>
