<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/"
            base-name="/WebContent/kookaburra.html">
      </resource>
      <resource
            alias="/kookaburra.html"
            base-name="/WebContent/kookaburra.html">
      </resource>
      <resource
            alias="/kookaburra.swf"
            base-name="/WebContent/kookaburra.swf">
      </resource>
      <resource
            alias="/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
   </extension>

</plugin>
