<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="kookaburraHttpcontext"
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="kookaburra">
         <resource-mapping
               path="/status/kookaburra/rest">
         </resource-mapping>
      </httpcontext>
   </extension>
   <extension
         id="kookaburraRestlet"
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/status/kookaburra/rest"
            class="org.restlet.ext.servlet.ServerServlet"
            httpcontextId="kookaburra">
         <init-param
               name="org.restlet.application"
               value="au.gov.ansto.bragg.kookaburra.webserver.restlet.KookaburraRestletApplication">
         </init-param>
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/status"
            base-name="/WebContent/kookaburra.html">
      </resource>
      <resource
            alias="/status/kookaburra.html"
            base-name="/WebContent/kookaburra.html">
      </resource>
      <resource
            alias="/status/kookaburra.swf"
            base-name="/WebContent/kookaburra.swf">
      </resource>
      <resource
            alias="/status/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/user/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
      <resource
            alias="/doc/js/instrumentsetup.js"
            base-name="/WebContent/instrumentsetup.js">
      </resource>
   </extension>

</plugin>
