<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/nbi.css"
            base-name="/WebContent/nbi.css">
      </resource>
      <resource
            alias="/nbi.js"
            base-name="/WebContent/nbi.js">
      </resource>
      <resource
            alias="/nbi.html"
            base-name="/WebContent/nbi.html">
      </resource>
   </extension>

</plugin>