<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.startup">
      <startup
            class="au.gov.ansto.bragg.banksia.ui.BanksiaWorkbenchSetup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="au.gov.ansto.bragg.banksia.ui.BanksiaWorkflowPerspective"
            fixed="true"
            icon="icons/workflow.gif"
            id="au.gov.ansto.bragg.banksia.ui.BanksiaWorkflowPerspective"
            name="Banksia Workflow">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="au.gov.ansto.bragg.banksia.ui.BanksiaWorkflowView"
            id="au.gov.ansto.bragg.banksia.ui.BanksiaWorkflowView"
            name="Banksia Workflow View"
            restorable="true">
      </view>
   </extension>
</plugin>
